.background-mobile {
    display: none;
}
.background-desktop {
    display:inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.wraper {
    display: flex;
}
.top-image{
    margin: 6ch;
    height: 40ch;
    width: 80ch;

}
.text-box {
    text-align: left;
    z-index: 12;
}
.upper-title {
    font-size: 36px;
}
.footer {
    position: relative;
    z-index: 11;
    top: 25ch;
    max-width: 100%;

}
.social-media-box {
    text-align: right;
    position: relative;
    margin-right: 5ch;
    max-width: 100%;
}

.fa-facebook:hover , .fa-twitter:hover , .fa-instagram:hover {
    color: var(--SoftMagenta);
}
.fa-facebook, .fa-instagram, .fa-twitter {
    color: white;
    width: 2ch;
    height: 1ch;
    text-decoration: none;
    text-align: center;
}
.social-medias {
    padding: 1ch;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 1ch;
    text-decoration: none;
}